.modal{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,.6);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal__content{
    text-align: center;
    font-size: 22px;
    padding: 100px 200px;
    border-radius: 20px;
    background: #4292c8;
    background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#4292c8),
        to(#fda753)
    );
    background: -o-linear-gradient(left, #4292c8 0%, #fda753 100%);
    background: linear-gradient(to right, #4292c8 0%, #fda753 100%);
    
  }